@model StudentMeal.Domain.Meal

<div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        @Model.Name
    </div>
    <div class="mdl-card__supporting-text">
        <p>
            <strong>Kok</strong>
            <br>
            <span class="mdl-chip mdl-chip--contact">
                <span class="mdl-chip__contact mdl-color--light-green mdl-color-text--black">@Model.Cook.Name[0]</span>
                <span class="mdl-chip__text">@Model.Cook.Name</span>
            </span>
        </p>

        <p>
            <strong>Aantal gasten</strong>
            <br>
            @Model.GuestCount (max. @Model.MaxGuests)
        </p>
    </div>
</div>