@model StudentMeal.Domain.Meal

<a asp-controller="Home" asp-action="MealInfo" asp-route-id="@Model.Id">
    <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            @Model.Name
            <span style="position:absolute;top:0px;right:0px;margin:16px;">€@String.Format("{0:0.00}", Model.Price)</span>
        </div>
        <div class="mdl-card__supporting-text">
            <span class="detail">
                <i class="material-icons" id="mealDatailCook@(Model.Id)">person</i>
                <div class="mdl-tooltip mdl-tooltip--large" data-mdl-for="mealDatailCook@(Model.Id)">Kok</div>
                <span><partial name="_ContactChip" model="Model.Cook.Name" /></span>
            </span>
            <br><br>
                <span class="detail">
                    <i class="material-icons" id="mealDetailGuests@(Model.Id)">people</i>
                    <div class="mdl-tooltip mdl-tooltip--large" data-mdl-for="mealDetailGuests@(Model.Id)">Gasten</div>
                    <span>@Model.GuestCount</span>
                </span>
            <br><br>
                <span class="detail">
                    <i class="material-icons" id="mealDetailDateTime@(Model.Id)">access_time</i>
                    <div class="mdl-tooltip mdl-tooltip--large" data-mdl-for="mealDetailDateTime@(Model.Id)">Datum & tijd</div>
                    <span>@string.Format("{0:ddd d MMM}", Model.DateTime), @Model.DateTime.ToShortTimeString()</span>
                </span>
        </div>
    </div>
</a>

<style>
    .detail > span, .detail .material-icons {
        vertical-align: middle;
        padding: 0px 8px;
    }

    .detail > span {
        display: inline-block;
    }

    td {
        padding: 0px 8px;
    }
</style>